.sidebar-wrapper {
  background-image: linear-gradient(
        to bottom,
        rgba(#7B2CBF, 0.8),
        rgba(#3C096C, 0.8)
    ),
    url('../../../assets/img/sidebar-3.jpg');
  background-size: cover;
  background-position: center center;
  color: var(--color-white);

  // TEMP
  height: 100vh;

  .logo {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255,255,255,.2);

    .simple-text {
      text-transform: uppercase;
      padding: 5px 0 5px 15px;
      display: block;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .nav {
    margin-top: 20px;
    font-size: 1.4rem;
    list-style: none;

    &-item.active > a {
      color: var(--color-white);
      opacity: 1;
      background: rgba(255,255,255,.23);
      border-radius: 4px;
    }

    &-link:link,
    &-link:visited {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      margin: 5px 15px;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 30px;
    }

    &-icon {
      font-size: 2.8rem;
      margin-right: 1.5rem;
    }

    &-text {


    }
  }
}
