.navbar {
  min-height: 62px;
  background-color: rgba(255,255,255,.96);
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
  font-size: 1.6rem;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;

  &-brand {
    font-size: 2rem;
    color: var(--color-grey-dark-2);
    margin-right: 4rem;
    cursor: pointer;

    &:hover {
      color: #5e5e5e;
    }
  }

  &-collapsable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: auto;

    a {
      position: relative;
    }

    a > [class^="fa"] {
      font-size: 1.9rem;
      line-height: 16px;
    }

    [class~="fa-caret-down"] {
      vertical-align: middle;
      margin-left: .4rem;
      font-size: 1.4rem !important;
    }
  }

  &-list {
    color: var(--color-grey-light-5);
    list-style: none;
  }

  &-item {
    display: inline-block;
  }

  &-link {
    &:link, &:visited {
      padding: 10px 15px;
      margin: 10px 3px;
    }

    &:hover, &:active {
      color: var(--color-link);
    }
  }
}

.notification {
  border-radius: 10px;
  background-color: red;
  color: white;
  padding: 0 5px;
  text-align: center;
  min-width: 18px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 7px;
}
