<nav class="navbar">
  <div class="navbar-header">
    <a class="navbar-brand">Dashboard</a>
    <!-- Add the menu bar here -->
  </div>

  <div class="navbar-collapsable">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a href="#" class="navbar-link dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-dashboard"></i>
        </a>
      </li>
      <li class="navbar-item dropdown">
        <a href="#" class="navbar-link dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-globe"></i>
        </a>
      </li>
      <li class="navbar-item">
        <a href="#" class="navbar-link">
          <i class="fa fa-search"></i>
        </a>
      </li>
    </ul>

    <ul class="navbar-list">
      <li class="navbar-item">
        <a href="#" class="navbar-link">
          Account
        </a>
      </li>
      <li class="navbar-item">
        <a href="#" class="navbar-link">
          Dropdown
        </a>
      </li>
      <li class="navbar-item">
        <a href="#" class="navbar-link">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
