.navbar {
  min-height: 50px;
  background-color: rgba(255,255,255,.96);
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
  font-size: 1.6rem;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;

  &-brand {
    font-size: 2rem;
    color: var(--color-grey-dark-2);
    margin-right: 4rem;
    cursor: pointer;

    &:hover {
      color: #5e5e5e;
    }
  }

  &-more-info {
    display: flex;
    align-items: center;
    margin-right: auto;
    color: var(--color-grey-light-5);

    [class^="pe-7s-"] {
      font-size: 2rem;
      line-height: 16px;
      font-weight: 600;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 4rem;
      }
    }

    [class^="pe-7s-"]:hover {
      color: var(--color-link);
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    color: var(--color-grey-light-5);

    &-image {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid var(--color-grey-light-6);
      margin-right: .7rem;
    }

    &-name {
      margin-right: .7rem;
    }

    &-icon {
      cursor: pointer;
    }
  }
}
